.chartBar {
  margin: 0 10px 0 10px;
  padding: 10px 0;
  border-radius: 5px;
  width: 70px;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  /*text-align: end;*/
  position: relative;
  height: 450px;
}

/* police bar doesn't have interactions */
.chartBar#chartBar-0 {
  cursor: auto;
  color: #fff;
}

.chartBar .chartBar-color {
  border-radius: 5px;
  /* override inline style from rnd library */
  width: 80px !important;
  text-align: end;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  /* override inline style from rnd library */
  top: unset !important;margin-left: 0px;
  left: 0px;
}

.chartBar .chartBar-label {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 4px;
}

@media(max-width: 1176px){
  .chartBar .chartBar-color {
    /* override inline style from rnd library */
    width: 50px !important;
  }
}

@media(max-width: 768px){
  .chartBars__wrapper {
    width: 100%;
    max-width: 85vw;
    justify-content: space-around;
  }

  .chartBar {
    width: auto;
    margin: 0;
  }
}

@media(max-width: 705px){
  .chartBar .chartBar-color {
    /* override inline style from rnd library */
    width: 24px !important;
  }

  .chart .chartBar-label {
    display: none;
  }
}