.chart-scale {
    display: inline-flex;
    width: unset;
}

.chart-scale__label-container {
    display: flex;
    flex-direction: column-reverse;
    border-right: 1px solid #000;
    border-top: none;
    width: unset;
}

.chart-scale__label {
    max-height: none;
    border-top: 1px solid #000;
}

.chart-scale__label__number {
    display: none;
}

@media(max-width: 768px){
    .chart-scale__label__text {
        display: none;
    }
    .chart-scale__label__number {
        display: block;
        margin-right: 4px;
    }
}

